#main_article{
    @extend %articleVide;
    margin-top: 30px;
    .divideSection{
        @include desplayStyle(1fr 1fr);
        .rightArt{
            figure{
                img{
                    width: 60vw;
                }
                h1{
                    color: $hgroup;
                    @extend %textNeed;
                }
                figcaption{
                    .AllIcpns{
                        @include flexible(space-between);
                        color: $main-paraf;
                        :nth-child(3){
                            cursor: pointer;
                        }
                        .Socials{
                            img{
                                cursor: pointer;
                                width: 1.5rem;
                            }
                        }
                    }
                    p{
                        color: $main-paraf;
                    }
                }
            }
            .main_article_body{
                p{
                    color: $main-paraf;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.6;
                    margin: 20px;
                }
                blockquote{
                    padding: 10px;
                    background-color: $boxbackground;
                    border-radius: 30px;
                    p{
                        font-family: 'Merriweather', serif;
                        font-size: 1.2em;
                    }
                    .quotFooter{
                        color: $ribonIcone;
                        font-family: 'Merriweather', serif;
                    }
                }
            }
            .Article_tags{
                a{
                    cursor: pointer;
                    border: 1px solid $box-border;
                    padding: 6px 15px 6px 15px;
                    margin: 0 6px 0 6px;
                    background-color: $tags;
                    border-radius: 30px;
                    text-decoration: none;
                    color: $main-paraf;
                    &:hover{
                        background-color: $buttum-hover;
                        color: $body;
                    }
                }
            }
            .insideartImg{
                width: 80%;
                margin: 0 0 5% 5%;
                img{
                    border-radius: 30px;
                    margin-bottom: 0;
                    width: 50vw;
                }
                figcaption{
                    p{
                        color: $hgroup;
                        margin-top: 0;
                        font-family: "Playfair Display", serif;
                    }
                }
            }
            ul{
                font-size: 16px; /* Adjust as needed */
                font-family: 'Roboto', sans-serif; 
                li{
                    color: $main-paraf;
                }
            }

            .donation{
                background-color: $tags;
                border: 1px solid $box-border;
                margin-top: 30px;
                @include flexible(center);
                figure{
                    img{
                        width: 70%;
                    }
                }
                article {
                    margin-top: 30px;
                    header{
                        p{
                            color: $hgroup;
                            width: 80%;
                        }
                    }
                    button{
                        @include Button(12px 21px 12px 21px);
                    }
                }
            }
            .realtedPost{
                @include flexible(center);
                background-color: $boxbackground;
                figure {
                    img{
                        width: 100%;
                    }
                }
                article {
                    header{
                        text-align: center;
                        h1{
                           color: $hgroup;
                           font-family: "Playfair Display", serif;
                        }
                        p{
                            color: $main-paraf;
                        }
                        
                    }
                }
            }
        }


        .leftArt{

        }
    }
}