#main_article{
    @extend %articleVide;
    margin-top: 30px;
    .divideSection{
        @include desplayStyle(1fr 1fr);
        .rightArt{
            figure{
                h1{
                    color: $hgroup;
                    @extend %textNeed;
                }
                figcaption{
                    .AllIcpns{
                        @include flexible(space-between);
                        color: $main-paraf;
                        :nth-child(3){
                            cursor: pointer;
                        }
                        .Socials{
                            img{
                                cursor: pointer;
                                width: 1.5rem;
                            }
                        }
                    }
                    p{
                        color: $main-paraf;
                    }
                }
            }
            .main_article_body{
                p{
                    color: $main-paraf;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.6;
                    margin: 20px;
                }
                blockquote{
                    padding: 10px;
                    background-color: $boxbackground;
                    p{
                        font-family: 'Merriweather', serif;
                        font-size: 1.2em;
                    }
                    .quotFooter{
                        color: $ribonIcone;
                        font-family: 'Merriweather', serif;
                    }
                }
            }
            .Article_tags{
                a{
                    cursor: pointer;
                    border: 1px solid $box-border;
                    padding: 6px 15px 6px 15px;
                    margin: 0 6px 0 6px;
                    background-color: $boxbackground;
                    border-radius: 30px;
                    text-decoration: none;
                    color: $main-paraf;
                    &:hover{
                        background-color: $buttum-hover;
                        color: $body;
                    }
                }
            }
        }
    }
}