#main_article{
    @extend %articleVide;
    margin-top: 30px;
    @media(max-width:600px) {
        width: 100%;
       margin-left: 0;
       
    }
    .divideSection{
        @include desplayStyle(1fr 1fr);
        @media(max-width:600px) {
            @include desplayStyle(1fr);
        }
        .rightArt{
            figure{
                img{
                    width: 60vw;
                    @media(max-width:600px) {
                        width: 100%;
                    }
                }
                h1{
                    color: $hgroup;
                    @extend %textNeed;
                }
                figcaption{
                    .AllIcpns{
                        @include flexible(space-between);
                        color: $main-paraf;
                        :nth-child(3){
                            cursor: pointer;
                        }
                        .Socials{
                            img{
                                cursor: pointer;
                                width: 1.5rem;
                            }
                        }
                    }
                    p{
                        color: $main-paraf;
                    }
                }
            }
            .main_article_body{
                p{
                    color: $main-paraf;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.6;
                    margin: 20px;
                }
                a{
                    
                    color: $landingBackground;
                }
                blockquote{
                    padding: 10px;
                    background-color: $boxbackground;
                    border-radius: 30px;
                    p{
                        font-family: 'Merriweather', serif;
                        font-size: 1.2em;
                    }
                    .quotFooter{
                        color: $ribonIcone;
                        font-family: 'Merriweather', serif;
                    }
                }
            }
            .Article_tags{
                a{
                    cursor: pointer;
                    border: 1px solid $box-border;
                    padding: 6px 15px 6px 15px;
                    margin: 0 6px 0 6px;
                    background-color: $tags;
                    border-radius: 30px;
                    text-decoration: none;
                    color: $main-paraf;
                    &:hover{
                        background-color: $buttum-hover;
                        color: $body;
                    }
                }
            }
            .insideartImg{
                width: 80%;
                margin: 0 0 5% 5%;
                @media(max-width:600px) {
                    width: 100%;
                    margin: 0 0 5% 0;
                }
                img{
                    border-radius: 30px;
                    margin-bottom: 0;
                    width: 50vw;
                    @media(max-width:600px) {
                        width: 100%;
                    }
                }
                figcaption{
                    p{
                        color: $hgroup;
                        margin-top: 0;
                        font-family: "Playfair Display", serif;
                    }
                }
            }
            ul{
                font-size: 16px; /* Adjust as needed */
                font-family: 'Roboto', sans-serif; 
                li{
                    color: $main-paraf;
                }
            }

            .donation{
                background-color: $tags;
                border: 1px solid $box-border;
                margin-top: 30px;
                @include flexible(center);
                figure{
                    img{
                        width: 70%;
                        @media(max-width:600px) {
                            width: 100px;
                        }
                    }
                }
                article {
                    margin-top: 30px;
                    @media(max-width:600px) {
                        margin-top: 0;
                    }
                    header{
                        p{
                            color: $hgroup;
                            width: 80%;
                        }
                    }
                    button{
                        @include Button(12px 21px 12px 21px);
                        @media(max-width:600px) {
                            margin-bottom: 6px;
                        }
                    }
                }
            }
            .realtedPost{
                @include flexible(center);
                background-color: $boxbackground;
                figure {
                    @media(max-width:600px) {
                        margin: 0;
                        padding: 0;
                    }
                    img{
                        width: 100%;
                        @media(max-width:600px) {
                            height: 100%;
                        }
                    }
                }
                article {
                    header{
                        text-align: center;
                        h1{
                           color: $hgroup;
                           font-family: "Playfair Display", serif;
                        }
                        p{
                            color: $main-paraf;
                        }
                       .singlePost{
                        @media(max-width:600px) {
                            margin-bottom: 15px;
                        }
                       } 
                    }
                }
            }
        }


        .leftArt{
            .Video{
                border: 1px solid $box-border;
                background-image: url('../../../assets/images/videos/Latest-video-on-Kandlus.png');
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                h3{
                    color: $primary-text;
                    text-align: center;
                }
                h4 {
                    color: $hgroup;
                    text-align: center;
                }
                button {
                   width: 30%;
                   margin-left: 35%;
                    @include Button(6px 12px 6px 12px);
                }
            }
            .articles {
                text-align: center;
                color: $main-paraf;
                h3 {
                    color: $main-paraf;
                }
               .dataArticle {
                background-color: $tags;
                padding: 6px 0 6px 0;
                margin: 6px 0 6px 0;
                cursor: pointer;
                span {
                    margin: 0 6px 0 6px;
                }
               }
            }
        }
    }
}

.downPop {
    @media(max-width:600px) {
        display: none;
    }
}

