$buttum-hover: #FED1A7;
$hgroup: #c9a56e;
$box-border: #5C4228;
$body: #23201D;
$box-background: #332f2b;
$box-hover: #5F564E;
$primary-text: #ffffff; 
$main-text: #CAC3BC;
$line-loader: #8E6845;
$main-paraf: #CAC3BC;
$Butoon: #FECFA7;
$boxbackground: #4B443F;
$ribonIcone: #9A5C23;
$hoverText: #c8b19a;
$darkBox: #181411;
$landingBackground: #dad7cd;
$landingBox: #ccc4bd;