@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@keyframes fadeIn {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slideIn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -300px;
  }
}
@keyframes changeImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes videoImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes boxShadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px -1px 16px 2px rgba(109, 108, 108, 0.75);
  }
}
@keyframes colorChange {
  0% {
    color: #9A5C23;
  }
  100% {
    color: #CAC3BC;
  }
}
.menuIcone {
  display: none;
}

#MobileNav {
  display: none;
}

/* Ribbon style */
#ribbon {
  background-color: #FECFA7;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 600px) {
  #ribbon {
    display: none;
  }
}

#ribbon p {
  margin: 0 60px 10px 0;
  color: #23201D;
  padding: 0;
}

.material-symbols-outlined {
  color: #9A5C23;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: -6px;
}

/* Navigation style */
.scrolled {
  background-color: #23201D;
  top: 0;
  width: 100%;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  width: 90%;
  margin-left: 5%;
}
#navigation hgroup h3, #navigation hgroup #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #navigation hgroup p, #navigation hgroup h5 {
  margin: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
}
#navigation .firstList {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  list-style: none;
  background-color: #332f2b;
  border-radius: 30px;
}
#navigation .firstList li {
  margin: 0 20px 0 0;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
}
#navigation .firstList li:hover {
  color: #c8b19a;
}
#navigation .firstList li a {
  color: #ffffff;
  text-decoration: none;
}
#navigation .firstList li a:hover {
  color: #c8b19a;
}

#navigation .firstList .secondList:checked > #navigation .firstList ul {
  display: block;
}

#navigation .firstList ul {
  list-style: none;
  position: absolute;
}

#navigation #logSign {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  list-style: none;
}

#navigation #logSign li {
  margin: 0 10px 0 0;
  cursor: pointer;
}

#navigation #logSign .ButLogin {
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 0 10px 10px 10px;
  border: none;
  cursor: pointer;
  position: relative;
}
#navigation #logSign .ButLogin:hover {
  background-color: #c8b19a;
  color: #ffffff;
}

#navigation .firstList .secondList {
  display: none;
  background-color: #332f2b;
}

.Titles {
  text-align: center;
  color: #CAC3BC;
  position: absolute;
  width: 50%;
  margin: 3% 0 0 25%;
}

.Titles p:nth-child(1) {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.Titles p:nth-child(2) a {
  color: #CAC3BC;
  text-decoration: none;
}

.Titles p:nth-child(2) a:hover {
  color: #c9a56e;
}

/* Header Style */
#header {
  top: 0;
}
#header header {
  height: 400px;
  background-image: url("../images/Astrology/Service/pages/Astrology_service.jpeg");
  background-size: cover;
  opacity: 0.8;
  top: 0;
}
@media (max-width: 600px) {
  #header header {
    height: 150px;
  }
}

#LandingHeader header {
  height: 600px;
  background-size: cover;
  opacity: 0.8;
}

@media (max-width: 600px) {
  #navigation {
    display: none;
  }
  .menuIcone {
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: pointer;
  }
  .menuIcone #close {
    display: none;
  }
  /* Ribbon Style */
  #ribbon #nexOne {
    display: none;
  }
  #MobileNav {
    display: none;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: #ffffff;
    width: 60%;
    margin: 5% 0 0 5%;
    background-color: #332f2b;
    position: absolute;
    z-index: 1000;
  }
  #MobileNav hgroup h3, #MobileNav hgroup #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #MobileNav hgroup p, #MobileNav #navigation hgroup h5, #navigation #MobileNav hgroup h5 {
    margin: 0;
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  #MobileNav hgroup h5 {
    margin: 0;
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  .firstList {
    list-style: none;
  }
  .firstList li {
    margin: 0 20px 0 0;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
  }
  .firstList li:hover {
    color: #c8b19a;
  }
  .firstList li a {
    color: #ffffff;
    text-decoration: none;
  }
  .firstList li a:hover {
    color: #c8b19a;
  }
  .firstList .mobList {
    display: none;
    background-color: #332f2b;
    list-style: none;
  }
  .firstList .mobList li:hover {
    color: #CAC3BC;
  }
  #logSign li {
    margin: 0;
    cursor: pointer;
    list-style: none;
    width: 50%;
  }
  #logSign .ButLogin {
    background-color: #FECFA7;
    border-radius: 30px;
    color: #23201D;
    padding: 0 10px 10px 10px;
    border: none;
    cursor: pointer;
    position: relative;
  }
  #logSign .ButLogin:hover {
    background-color: #c8b19a;
    color: #ffffff;
  }
  #logSign .ButLogin a {
    color: #23201D;
    text-decoration: none;
  }
}
@keyframes fadeIn {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slideIn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -300px;
  }
}
@keyframes changeImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes videoImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes boxShadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px -1px 16px 2px rgba(109, 108, 108, 0.75);
  }
}
@keyframes colorChange {
  0% {
    color: #9A5C23;
  }
  100% {
    color: #CAC3BC;
  }
}
#All_sec .right-s .DivFig figure hr, #MainFooter .secondFoot .break, #MainFooter .forthFoot .break, #MainFooter .thirdFoot .break {
  border: 1px dotted #FECFA7;
  width: 60%;
}

#headerDesign #rightSides figure:hover > img, #headerDesign #Centers img:hover {
  box-shadow: -2px 1px 21px 0px rgba(0, 0, 0, 0.75);
}

#Sprituality .MainSpritual .leftSpritual .insideImage, #videos .insideVideos .fourVideos .fourFigure {
  border: 1px dotted #5C4228;
  border-radius: 30px;
}

.AppFooter {
  display: none;
}
@media (max-width: 600px) {
  .AppFooter {
    display: block;
  }
}

@media (max-width: 600px) {
  .desctipFooter {
    display: none;
  }
}

#MainFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #332f2b;
  text-align: center;
  color: #CAC3BC;
  padding-bottom: 21px;
}
@media (max-width: 600px) {
  #MainFooter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
#MainFooter .twins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 600px) {
  #MainFooter .firstFoot {
    display: none;
  }
}
#MainFooter .firstFoot img:nth-child(1) {
  width: 60%;
}
#MainFooter .firstFoot img:nth-child(n+2) {
  width: 40px;
  cursor: pointer;
}
#MainFooter .secondFoot p a, #MainFooter .forthFoot p a, #MainFooter .thirdFoot p a {
  color: #CAC3BC;
  text-decoration: none;
}
#MainFooter .secondFoot p a:hover, #MainFooter .forthFoot p a:hover, #MainFooter .thirdFoot p a:hover {
  color: #c8b19a;
}
#MainFooter .forthFoot form input {
  margin: 9px 0 9px 0;
}
#MainFooter .forthFoot form input[type=email] {
  width: 80%;
  height: 2rem;
  border-radius: 30px;
  border: none;
}
#MainFooter .forthFoot form input[type=button] {
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 10px 30px 10px 30px;
  border: none;
  cursor: pointer;
}
#MainFooter .forthFoot form input[type=button]:hover {
  background-color: #c8b19a;
  color: #ffffff;
}

#Privecy {
  display: flex;
  justify-content: center;
  color: #CAC3BC;
}

#downNav {
  background-color: #181411;
  display: none;
}
@media (max-width: 600px) {
  #downNav {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
    margin: 0;
  }
}
#downNav .navIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  padding: 0;
}
#downNav .navIcons span {
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
#downNav .navIcons span p {
  margin: 0;
  padding: 0;
  color: #CAC3BC;
  font-size: 2.5vw;
}

#All_sec .right-s .DivFig figure hr, #MainFooter .secondFoot .break, #MainFooter .thirdFoot .break, #MainFooter .forthFoot .break {
  border: 1px dotted #FECFA7;
  width: 60%;
}

#headerDesign #rightSides figure:hover > img, #headerDesign #Centers img:hover {
  box-shadow: -2px 1px 21px 0px rgba(0, 0, 0, 0.75);
}

#Sprituality .MainSpritual .leftSpritual .insideImage, #videos .insideVideos .fourVideos .fourFigure {
  border: 1px dotted #5C4228;
  border-radius: 30px;
}

@keyframes fadeIn {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slideIn {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -300px;
  }
}
@keyframes changeImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes videoImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes boxShadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 1px -1px 16px 2px rgba(109, 108, 108, 0.75);
  }
}
@keyframes colorChange {
  0% {
    color: #9A5C23;
  }
  100% {
    color: #CAC3BC;
  }
}
body {
  background-color: #23201D;
}

#All_sec {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  gap: 1rem;
  width: 90%;
  margin: 1% 0% 1% 5%;
  padding: 0;
}
#All_sec #sideBar {
  width: 30%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
#All_sec #sideBar .articles {
  text-align: center;
  color: #CAC3BC;
}
#All_sec #sideBar .articles h3, #All_sec #sideBar .articles .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #sideBar .articles p, #All_sec #sideBar .articles #navigation hgroup h5, #navigation hgroup #All_sec #sideBar .articles h5 {
  color: #CAC3BC;
}
#All_sec #sideBar .articles .dataArticle {
  background-color: #181411;
  padding: 6px 0 6px 0;
  margin: 6px 0 6px 0;
  cursor: pointer;
}
#All_sec #sideBar .articles .dataArticle span {
  margin: 0 6px 0 6px;
}
#All_sec #sideBar .Video {
  border: 1px solid #5C4228;
  background-color: #181411;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
#All_sec #sideBar .Video h3, #All_sec #sideBar .Video .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #sideBar .Video p, #All_sec #sideBar .Video #navigation hgroup h5, #navigation hgroup #All_sec #sideBar .Video h5 {
  color: #ffffff;
  text-align: center;
}
#All_sec #sideBar .Video h4 {
  color: #c9a56e;
  text-align: center;
}
#All_sec #sideBar .Video button {
  width: 30%;
  margin-left: 35%;
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 6px 12px 6px 12px;
  border: none;
  cursor: pointer;
}
#All_sec #sideBar .Video button:hover {
  background-color: #c8b19a;
  color: #ffffff;
}
#All_sec .right-s {
  width: 100%;
}
#All_sec .right-s h2 {
  color: #c9a56e;
  font-size: 1.5vw;
  text-align: center;
}
#All_sec .right-s .DivFig {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#All_sec .right-s .DivFig figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20vw;
  border: 1px #5C4228;
  background-color: #332f2b;
  border-radius: 30px;
  cursor: pointer;
}
#All_sec .right-s .DivFig figure:hover {
  background-color: #5F564E;
}
#All_sec .right-s .DivFig figure img {
  width: 80%;
  min-height: 12vw;
  max-height: 12vw;
  filter: hue-rotate(90deg) brightness(1000%);
  margin: 5% 0 0 10%;
}
#All_sec .right-s .DivFig figure hr {
  margin-bottom: 0;
}
#All_sec .right-s .DivFig figure figcaption {
  margin: 0;
  padding: 0;
}
#All_sec .right-s .DivFig figure figcaption h3, #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #navigation hgroup h5, #navigation hgroup #All_sec .right-s .DivFig figure figcaption h5 {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 600px) {
  #All_sec {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    margin-left: 0;
  }
  #All_sec .right-s h2 {
    font-size: 4vw;
  }
  #All_sec .right-s .DivFig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #All_sec .right-s .DivFig figure {
    height: 250px;
  }
  #All_sec .right-s .DivFig figure img {
    min-height: 110px;
    max-height: 110px;
  }
  #All_sec #sideBar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  #All_sec {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  #All_sec .right-s .DivFig {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  #All_sec .right-s .DivFig figure {
    height: 250px;
  }
  #All_sec .right-s .DivFig figure img {
    min-height: 110px;
    max-height: 110px;
  }
  #All_sec #sideBar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
/* Biorythm design */
.widthAds {
  width: 100%;
  height: 90px;
  border: 1px solid white;
  margin: 30px 0 30px 0;
}

.left-side {
  width: 80%;
}

#underMain #PersonalBirth #Nemuerology {
  padding: 0;
  margin: 0;
}

#bioInside {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#bioInside .myCaption h4 {
  font-size: 1.8rem;
}
#bioInside .myCaption p {
  font-size: 1.2rem;
}

.myCaption {
  border: 1px solid #5C4228;
  background-color: #4B443F;
}
.myCaption h4 {
  font-size: 1.8rem;
}
.myCaption p {
  font-size: 1.2rem;
}
.myCaption form label {
  color: #CAC3BC;
}
.myCaption form input {
  border-radius: 30px;
  border: none;
  height: 21px;
  background-color: rgba(51, 51, 51, 0.3803921569);
  color: #CAC3BC;
}
.myCaption form input[type=time] {
  width: 40px;
}
.myCaption form #Gender {
  border: none;
  border-radius: 30px;
  width: 21%;
  background-color: rgba(51, 51, 51, 0);
  color: #CAC3BC;
}
.myCaption form #countries {
  border: none;
  border-radius: 30px;
  background-color: rgba(51, 51, 51, 0);
  color: #CAC3BC;
  width: 33%;
}
.myCaption form #timezone {
  border: none;
  border-radius: 30px;
  background-color: rgba(51, 51, 51, 0);
  color: #CAC3BC;
  width: 33%;
}

#underMain figure img {
  width: 100%;
}

#underMain figcaption, #PersonalBirth figcaption, #Nemuerology figcaption {
  text-align: center;
}

#underMain figcaption p, #PersonalBirth figcaption p, #Nemuerology figcaption p {
  font-size: 1vw;
  color: #CAC3BC;
}

#underMain h4 {
  margin-top: 30px;
  font-size: 2vw;
  cursor: pointer;
  color: #c9a56e;
}

#PersonalBirth h4, #Nemuerology h4 {
  margin-top: 30px;
  font-size: 1vw;
  cursor: pointer;
  color: #c9a56e;
}

.ButHoro:hover {
  background-color: #FECFA7;
}

.ButHoro:hover .ti-arrow-right {
  color: red;
}

#displayBio {
  padding: 0;
  margin: 0;
  display: none;
  grid-template-columns: 1fr;
}

#displayNumber {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
#displayNumber p {
  font-size: 1.2rem;
  text-align: center;
}

#Numero {
  padding: 0;
  margin: 0;
  display: none;
  grid-template-columns: 1fr;
}

#displayThird {
  padding: 0;
  margin: 0;
  display: none;
  grid-template-columns: 1fr;
}

#dispNum, #NumeroDip, #ascend {
  padding: 20px 0 30px 0;
  margin: 0;
  display: none;
  grid-template-columns: 1fr;
  border: 1px solid #5C4228;
  text-align: center;
  background-color: #4B443F;
  border-radius: 30px;
}

#dispNum h4, #NumeroDip h4, #ascend h4 {
  font-size: 2vw;
}

.numCaption {
  display: grid;
  grid-template-columns: 1fr;
  color: #CAC3BC;
}
.numCaption h5 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.numCaption h6 {
  font-size: 1.1rem;
}
.numCaption p {
  max-width: 60%;
  margin-left: 20%;
  font-size: 1.1rem;
}

.letBeCaption {
  display: grid;
  grid-template-columns: 1fr;
  color: #CAC3BC;
}
.letBeCaption h5 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.letBeCaption h6 {
  font-size: 1.1rem;
}
.letBeCaption p {
  max-width: 60%;
  margin-left: 20%;
  font-size: 1.1rem;
}

.letBeCaption h3, .letBeCaption #navigation hgroup h5, #navigation hgroup .letBeCaption h5, .letBeCaption #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption .letBeCaption p {
  color: #FECFA7;
}

#newForm select {
  width: 90px;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  box-sizing: border-box;
}

.circleDay {
  color: red;
}

.citcleNight {
  color: #CAC3BC;
}

.newColor {
  color: #c9a56e;
}

.dividedInside {
  display: grid;
  grid-template-columns: 1fr;
}

.predeicted {
  max-width: 90%;
  margin-left: 5%;
}

#insidAscend h5 {
  font-size: 1.2rem;
  margin-top: 3px;
}

.right-side {
  width: 24%;
}

#bioInside {
  display: grid;
  grid-template-columns: 1fr;
}

.myButton {
  background-color: #FECFA7;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  border: none;
}

.myButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgb(232, 215, 127);
}

#firstChart, #secondChart, #newChart {
  background-color: #CAC3BC;
  margin: 3% 0 0 10%;
  width: 100%;
  max-width: 80%;
}

#finalData {
  background-color: #332f2b;
}
#finalData .figCaptureIn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #CAC3BC;
}
#finalData .figCaptureIn h5 {
  font-size: 1.2rem;
  margin: 12px 0 12px 0;
}
@media (max-width: 600px) {
  #finalData .figCaptureIn {
    grid-template-columns: 1fr;
  }
}

.newStyle h5 {
  font-size: 1.2rem;
  margin: 9px 0 9px 0;
}
.newStyle .dividedInside h5 {
  font-size: 1.2rem;
}
.newStyle .predeicted h5 {
  font-size: 1.2rem;
}

.newStyle {
  display: grid;
  grid-template-columns: 1fr;
  color: #CAC3BC;
}

#finalData h4 {
  text-align: center;
}

/* three under the main section */
.threeUnder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #332f2b;
  border-radius: 30px;
}

.threeUnder img {
  width: 100%;
}

.threeUnder div:nth-child(1) {
  width: 70%;
  border: 1px solid #5C4228;
  border-radius: 30px;
  background-image: url("../images/Astrology/Aquarius-new.png");
  background-size: cover;
}

.threeUnder div:nth-child(2) {
  width: 130%;
  margin-left: -30%;
}
.threeUnder div:nth-child(2) a {
  text-decoration: none;
}

.threeUnder h1 {
  color: #c9a56e;
  padding: 0;
  margin: 0;
}

.threeUnder h4 {
  color: #c9a56e;
  padding: 0;
  margin: 0 0 6px 0;
}

.threeUnder p {
  color: #CAC3BC;
  text-align: left;
  max-width: 70%;
  padding: 0;
  margin: 0;
}

.inseideFigure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0 0 0;
  padding: 0;
  cursor: pointer;
}

.inseideFigure h3, .inseideFigure #navigation hgroup h5, #navigation hgroup .inseideFigure h5, .inseideFigure #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption .inseideFigure p {
  color: #CAC3BC;
}

.inseideFigure img {
  width: 25%;
  height: 25%;
}

.breakLine {
  border: none;
  border-top: 2px dotted #5C4228;
  margin: 20px 0;
}

.myImages {
  width: 25%;
  height: 120px;
  border: 1px solid #5C4228;
  border-radius: 30px;
  background-image: url("../images/Astrology/Numbers.jpg");
  background-size: cover;
}

#displayNumber p, #Numero p, #figAscendant p {
  color: #CAC3BC;
  padding: 10px 0 10px 0;
  margin: 30px 0 30px 0;
}

#displayNumber img, #Numero img, #figAscendant img {
  width: 20%;
  margin-left: 40%;
}

/* Ascendant start */
#Ascentandt {
  display: none;
}

.brLine {
  border: 1px dotted #9A5C23;
  width: 50%;
  margin-bottom: 30px;
}

/* Mobile design */
@media (max-width: 600px) {
  .left-side {
    width: 100%;
  }
  #bioInside {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  #underMain figcaption p, #PersonalBirth p .figCaptureIn p, .newStyle p {
    font-size: 3vw;
    color: #CAC3BC;
  }
  #underMain h4, #PersonalBirth h4 {
    margin-top: 30px;
    font-size: 4vw;
    color: #c9a56e;
  }
  #firstChart, #secondChart, #newChart {
    margin: 6% 0 10% 0;
    width: 100%;
    max-width: 100%;
  }
  .figCaptureIn h5, .newStyle h5 {
    font-size: 2.5vw;
  }
  .threeUnder {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .threeUnder .rightSideImage {
    display: none;
  }
  .threeUnder div:nth-child(2) {
    width: 100%;
    margin: 0;
  }
  .threeUnder div:nth-child(2) a {
    text-decoration: none;
  }
  .threeUnder div:nth-child(2) figcaption {
    width: 70%;
  }
  .threeUnder div:nth-child(2) .myImages {
    width: 30%;
  }
}
/* Horoscop resault design */
#HorosResult {
  display: none;
  width: 80%;
}

#HorosMenu {
  background-color: #5C4228;
  width: 40%;
}

#HorosMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 0 6px 0;
  width: 100%;
  list-style: none;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
}

#HorosMenu li {
  padding: 0 12px 0 12px;
}

#HorosMenu li:hover {
  background-color: #FED1A7;
  color: #23201D;
}

#HorosMenu.dropDown {
  display: grid;
  grid-template-columns: 1fr;
  display: none;
}

#HorosMenu li .firstPercen {
  width: 1000px;
  border: 1px solid;
}

#HorosMenu li:nth-child(3):hover > .dropDown {
  display: block;
  position: absolute;
  margin: 10px 0 0 -60px;
}

#clicMe {
  position: relative;
}

#getTest {
  display: none;
  position: absolute;
}

#getTest li {
  width: 100px;
  text-align: center;
}

#getTest li:hover {
  background-color: #FED1A7;
  color: #23201D;
}

.picked {
  background-color: #FED1A7;
  color: #23201D;
}

#clicMe:hover #getTest {
  display: block;
}

#article h2 {
  color: #c9a56e;
  font-size: 2vw;
}

.paraf h4 {
  color: #c9a56e;
}

.paraf p {
  color: #CAC3BC;
}

.color1 {
  width: 30px;
  height: 30px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

.charts #myChart {
  margin: 30px 0 0 0;
  padding: 0;
}

#Second-article {
  display: none;
}

.yearSpan {
  border: 6px solid rgba(9, 9, 9, 0.223);
  background-color: rgba(15, 14, 14, 0.187);
  position: absolute;
  max-width: 100%;
}

.yearSpanTwo {
  border: 6px solid #8E6845;
  background-color: #8E6845;
  position: relative;
  animation-name: myLine;
  animation-duration: 6s;
  max-width: 50%;
}

@keyframes myLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.paraf div {
  margin-top: 60px;
}

.main-content {
  width: 95%;
}

#article {
  width: 90%;
}

/* Mobile Design */
@media (max-width: 600px) {
  .main-section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-section h2 {
    color: #c9a56e;
    font-size: 3vw;
    text-align: center;
  }
  .DivFig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .DivFig figure img {
    width: 80%;
    max-height: 27vw;
    min-height: 27vw;
    filter: hue-rotate(90deg) brightness(1000%);
    margin: 5% 0 0 10%;
  }
  .DivFig figure {
    height: 50vw;
    border: 1px #5C4228;
    background-color: #332f2b;
    border-radius: 30px;
    cursor: pointer;
  }
  #HorosResult {
    display: none;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  #HorosResult img {
    width: 100%;
  }
  #article h2 {
    font-size: 3vw;
  }
  #HorosMenu {
    background-color: #5C4228;
    width: 100%;
  }
  .charts {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
/* Tablet design */
@media (min-width: 600px) and (max-width: 1024px) {
  .DivFig {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .DivFig figure {
    height: 27vw;
    border: 1px #5C4228;
    background-color: #332f2b;
    border-radius: 30px;
    cursor: pointer;
  }
  .DivFig figure img {
    width: 80%;
    max-height: 15vw;
    min-height: 15vw;
    filter: hue-rotate(90deg) brightness(1000%);
    margin: 5% 0 0 10%;
  }
}
#LandingHeader header {
  height: 100%;
}
@media (max-width: 600px) {
  #LandingHeader {
    display: none;
  }
}

.menuIcone {
  position: absolute;
  z-index: 1000;
  left: 90%;
}

#myMobileHeader {
  display: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  #myMobileHeader {
    display: block;
  }
}
#myMobileHeader .slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 600px;
}
#myMobileHeader .slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#myMobileHeader .slider .slide {
  min-width: 100%;
  transition: opacity 1s ease-in-out;
}
#myMobileHeader .mobHead {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  display: block;
  background-image: url("../../../assets/images/Articles/Aquarius-new.png");
  background-size: cover;
}
#myMobileHeader .secondmobHead {
  position: relative;
  margin-top: -500px;
  padding: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
#myMobileHeader .secondmobHead hgroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  align-items: center;
}
#myMobileHeader .secondmobHead hgroup h1 {
  color: #c9a56e;
  margin-top: 100%;
}
#myMobileHeader .secondmobHead hgroup button {
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin: 0 0 0 35%;
}
#myMobileHeader .secondmobHead hgroup button:hover {
  background-color: #c8b19a;
  color: #ffffff;
}
#myMobileHeader .secondmobHead hgroup button a {
  text-decoration: none;
  color: #23201D;
}

#headerDesign {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 600px) {
  #headerDesign {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    display: none;
  }
}
#headerDesign #leftSides article {
  width: 80%;
  margin: 20% 0 0 20%;
}
@media (max-width: 600px) {
  #headerDesign #leftSides article {
    margin: 6% 0 0 10%;
  }
}
#headerDesign #leftSides article h1 {
  color: #c9a56e;
  font-size: 4vw;
  text-align: center;
}
#headerDesign #leftSides article p {
  color: #CAC3BC;
  font-size: 1.5vw;
}
#headerDesign #leftSides article button {
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 6px 15px 7px 15px;
  border: none;
  cursor: pointer;
}
#headerDesign #leftSides article button:hover {
  background-color: #c8b19a;
  color: #ffffff;
}
#headerDesign #Centers img {
  width: 100%;
  border-radius: 30px;
  margin-top: 10%;
  cursor: pointer;
}
@media (max-width: 600px) {
  #headerDesign #Centers {
    display: none;
  }
}
#headerDesign #rightSides #numberTwo {
  margin-left: 90px;
}
@media (max-width: 600px) {
  #headerDesign #rightSides #numberTwo {
    display: none;
  }
}
#headerDesign #rightSides figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 90px 0 60px 0;
  padding: 0;
  cursor: pointer;
}
#headerDesign #rightSides figure img {
  width: 6vw;
  min-height: 6vw;
  border-radius: 50%;
}
@media (max-width: 600px) {
  #headerDesign #rightSides figure img {
    width: 12vw;
  }
}
#headerDesign #rightSides figure figcaption {
  max-width: 70%;
}
#headerDesign #rightSides figure figcaption h3, #headerDesign #rightSides figure figcaption #navigation hgroup h5, #navigation hgroup #headerDesign #rightSides figure figcaption h5, #headerDesign #rightSides #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig #headerDesign #rightSides figure figcaption p {
  font-size: 1.5vw;
  color: #c9a56e;
  margin: 0;
}
#headerDesign #rightSides figure figcaption p {
  color: #CAC3BC;
  margin: 0;
  font-size: 1vw;
}

#landingMain {
  background-color: #D9D9D9;
  margin: 0;
  padding: 0 0 21px 0;
  top: 0;
}
#landingMain .firstSectionLand {
  width: 80%;
  margin-left: 10%;
  padding-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 600px) {
  #landingMain .firstSectionLand {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
#landingMain .firstSectionLand .firstrDic article header h1 {
  color: #9A5C23;
  font-size: 1.5rem;
}
#landingMain .firstSectionLand .firstrDic article header p {
  color: #23201D;
  font-size: 1rem;
}
#landingMain .firstSectionLand .firstrDic article .vertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #CEBEB1;
  border-radius: 21px;
  position: absolute;
  margin-left: 15%;
  width: 30vw;
}
@media (max-width: 600px) {
  #landingMain .firstSectionLand .firstrDic article .vertical {
    position: relative;
    margin: 0 0 0 2%;
    width: 96%;
  }
}
#landingMain .firstSectionLand .firstrDic article .vertical span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}
#landingMain .firstSectionLand .firstrDic article .vertical span h3, #landingMain .firstSectionLand .firstrDic article .vertical span #navigation hgroup h5, #navigation hgroup #landingMain .firstSectionLand .firstrDic article .vertical span h5, #landingMain .firstSectionLand .firstrDic article .vertical span #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #landingMain .firstSectionLand .firstrDic article .vertical span p {
  font-size: 1.5rem;
  color: #9A5C23;
}
#landingMain .firstSectionLand .firstrDic article .vertical span p {
  font-size: 1rem;
}
#landingMain .firstSectionLand .firstrDic article .vertical .vertical-line {
  border-left: 2px dotted #5C4228;
  height: 70px;
}
#landingMain .firstSectionLand .firstrDic article ul {
  list-style: disc;
  margin-top: 35%;
}
#landingMain .firstSectionLand .firstrDic article ul li p {
  font-size: 1rem;
}
@media (max-width: 600px) {
  #landingMain .firstSectionLand .firstrDic article ul {
    margin-top: 10%;
    text-align: left;
    font-size: 1rem;
  }
}
#landingMain .firstSectionLand .firstrDic article button {
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 1vw 2vw 1vw 2vw;
  border: none;
  cursor: pointer;
  background-color: #9A5C23;
  margin-bottom: 6%;
}
#landingMain .firstSectionLand .firstrDic article button:hover {
  background-color: #c8b19a;
  color: #ffffff;
}
@media (max-width: 600px) {
  #landingMain .firstSectionLand .firstrDic article button {
    background-color: #FECFA7;
    border-radius: 30px;
    color: #23201D;
    padding: 1.5vw 3vw 1.5vw 3vw;
    border: none;
    cursor: pointer;
    background-color: #9A5C23;
  }
  #landingMain .firstSectionLand .firstrDic article button:hover {
    background-color: #c8b19a;
    color: #ffffff;
  }
}
#landingMain .firstSectionLand .firstrDic article button:hover > a {
  color: #23201D;
}
#landingMain .firstSectionLand .firstrDic article button a {
  text-decoration: none;
  color: #CAC3BC;
  font-size: 1rem;
}
#landingMain .firstSectionLand .secondrDiv figure img {
  width: 30vw;
}
@media (max-width: 600px) {
  #landingMain .firstSectionLand .secondrDiv {
    display: none;
  }
}

#MainMusicPlayer {
  width: 96%;
  margin-left: 2%;
  background-color: #D9D9D9;
  text-align: center;
}
#MainMusicPlayer hgroup h1 {
  font-size: 2rem;
  color: #9A5C23;
}
#MainMusicPlayer hgroup p {
  width: 70%;
  margin-left: 15%;
  color: #23201D;
}
#MainMusicPlayer button {
  background-color: #FECFA7;
  border-radius: 30px;
  color: #23201D;
  padding: 9px 9px 9px 9px;
  border: none;
  cursor: pointer;
  min-width: 8rem;
  background-color: #9A5C23;
}
#MainMusicPlayer button:hover {
  background-color: #c8b19a;
  color: #ffffff;
}
#MainMusicPlayer button:hover > a {
  color: #23201D;
}
#MainMusicPlayer button a {
  text-decoration: none;
  color: #CAC3BC;
  font-size: 1rem;
}
#MainMusicPlayer .StartPlayer {
  background-color: rgba(248, 245, 245, 0.464);
  width: 60%;
  margin: 3% 0 0 20%;
}
@media (max-width: 600px) {
  #MainMusicPlayer .StartPlayer {
    width: 90%;
    margin: 3% 0 0 5%;
  }
}

#videos {
  width: 96%;
  margin: 6% 0 0 2%;
  padding: 20px 0 60px 0;
  position: relative;
}
@media (max-width: 600px) {
  #videos {
    width: 100%;
    margin: 0;
  }
}
#videos .video-background {
  width: 100%;
}
@media (max-width: 600px) {
  #videos .video-background {
    display: none;
  }
}
#videos #MobileImg {
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#videos #MobileImg:hover .playButt {
  color: #CAC3BC;
  animation: colorChange 1s;
}
@media (max-width: 600px) {
  #videos #MobileImg {
    display: block;
  }
}
#videos #MobileImg .playButt {
  position: absolute;
  display: flex;
  top: 42%;
  font-size: 4rem;
  margin-left: 42%;
  cursor: pointer;
}
#videos #MobileImg .playButt:hover {
  color: #CAC3BC;
  animation: colorChange 1s;
}
#videos #MobileImg img {
  width: 100%;
}
#videos .insideVideos {
  position: absolute;
  top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  #videos .insideVideos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    position: relative;
    margin: 0;
  }
}
#videos .insideVideos .rightVideo {
  width: 80%;
}
@media (max-width: 600px) {
  #videos .insideVideos .rightVideo {
    display: none;
  }
}
#videos .insideVideos .rightVideo img {
  width: 30vw;
  height: 30vw;
  opacity: 0.6;
  margin: 15% 0 0 15%;
  cursor: pointer;
}
#videos .insideVideos .rightVideo img:hover {
  opacity: 1;
  animation: videoImage 2s;
}
@media (max-width: 600px) {
  #videos .insideVideos .rightVideo img {
    margin: 0;
  }
}
#videos .insideVideos .fourVideos {
  width: 100%;
  text-align: center;
}
#videos .insideVideos .fourVideos h1 {
  color: #9A5C23;
  font-size: 2rem;
  margin: 0;
}
#videos .insideVideos .fourVideos p a {
  color: #23201D;
  text-decoration: none;
  font-size: 1rem;
}
#videos .insideVideos .fourVideos p a:hover {
  color: #c9a56e;
}
#videos .insideVideos .fourVideos .fourFigure {
  width: 90%;
  justify-items: center;
  height: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("../../../assets/images/Astrology/Aquarius-new.png");
  background-size: cover;
}
#videos .insideVideos .fourVideos .fourFigure:hover {
  box-shadow: 1px -1px 16px 2px rgba(109, 108, 108, 0.75);
  animation: boxShadow 1s;
}
#videos .insideVideos .fourVideos .fourFigure:hover h4 {
  color: #CAC3BC;
  animation: colorChange 1s;
}
#videos .insideVideos .fourVideos .fourFigure h4 {
  color: #9A5C23;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  #videos .insideVideos .fourVideos .fourFigure {
    width: 100%;
    margin: 0;
  }
}
#videos .insideVideos .fourVideos .fourFigure img {
  width: 100%;
  max-height: 200px;
}
#videos .insideVideos .fourVideos .fourFigure figcaption {
  margin-top: 100%;
}
#videos .insideVideos .fourVideos .fourFigure figcaption h4 {
  position: relative;
}
#videos .insideVideos .fourVideos .fourFigure figcaption .views {
  color: #CAC3BC;
  bottom: 0;
}
#videos .insideVideos .fourVideos .captionVideos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  gap: 1rem;
}
@media (max-width: 600px) {
  #videos .insideVideos .fourVideos .captionVideos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    overflow-y: auto;
  }
  #videos .insideVideos .fourVideos .captionVideos :nth-child(n+3) {
    display: none;
  }
}

#Sprituality {
  background-color: #CEBEB1;
  width: 96%;
  margin-left: 2%;
  padding-bottom: 12px;
}
@media (max-width: 600px) {
  #Sprituality {
    width: 100%;
    margin-left: 0;
  }
}
#Sprituality .MainSpritual {
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: none;
}
@media (max-width: 600px) {
  #Sprituality .MainSpritual {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
#Sprituality .MainSpritual .rightSpirit {
  width: 100%;
}
#Sprituality .MainSpritual .rightSpirit h3, #Sprituality .MainSpritual .rightSpirit #navigation hgroup h5, #navigation hgroup #Sprituality .MainSpritual .rightSpirit h5, #Sprituality .MainSpritual .rightSpirit #All_sec .right-s .DivFig figure figcaption p, #All_sec .right-s .DivFig figure figcaption #Sprituality .MainSpritual .rightSpirit p {
  color: #9A5C23;
  font-size: 2rem;
}
#Sprituality .MainSpritual .rightSpirit p {
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  #Sprituality .MainSpritual .rightSpirit ul {
    padding: 0;
    margin-top: 10%;
  }
}
#Sprituality .MainSpritual .rightSpirit ul li {
  list-style: none;
  margin-top: 15px;
}
#Sprituality .MainSpritual .rightSpirit ul li a {
  color: #23201D;
  text-decoration: none;
  font-size: 1rem;
}
#Sprituality .MainSpritual .rightSpirit ul li a:hover {
  color: #9A5C23;
}
#Sprituality .MainSpritual .rightSpirit ul .spiritLine {
  border: 1px dotted #9A5C23;
  width: 100%;
  margin-bottom: 30px;
}
#Sprituality .MainSpritual .leftSpritual {
  width: 100%;
}
@media (max-width: 600px) {
  #Sprituality .MainSpritual .leftSpritual {
    display: none;
  }
}
#Sprituality .MainSpritual .leftSpritual .insideImage {
  background-image: url("../../../assets/images/Astrology/Aquarius-new.png");
  background-size: cover;
  width: 60%;
  height: 30vw;
}

#CetegoriesPage {
  display: none;
}
#CetegoriesPage figure {
  margin: 0;
}
#CetegoriesPage h1 {
  text-align: center;
  color: #9A5C23;
}
#CetegoriesPage .singleCategory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
  margin: 0;
}
#CetegoriesPage .singleCategory a {
  text-decoration: none;
}
#CetegoriesPage .singleCategory a img {
  width: 100%;
}
#CetegoriesPage .singleCategory a h1 {
  position: relative;
  top: -11rem;
  font-size: 2rem;
}

#searchPage {
  display: none;
  width: 90%;
  margin-left: 5%;
  height: 40rem;
}
#searchPage h1 {
  color: #c9a56e;
}
#searchPage p {
  color: #CAC3BC;
}
#searchPage .search-container input {
  width: 100%;
  border-radius: 6px;
  height: 1.7rem;
  background-color: #332f2b;
  border: none;
  color: #CAC3BC;
}
#searchPage .search-container #results {
  color: #CAC3BC;
}
#searchPage .search-container #results ul {
  margin: 0;
  padding: 0;
}
#searchPage .search-container #results ul li {
  list-style: none;
  margin: 4px 0 2px 0;
}
#searchPage .search-container #results ul li a {
  color: #CAC3BC;
  text-decoration: none;
  cursor: pointer;
}
#searchPage .search-container #results ul li a:hover {
  color: #c9a56e;
}
#searchPage .search-container #results ul .WidthHr {
  min-width: 100%;
  border: 1px dotted #FECFA7;
}

.fullHr {
  border: 1px dotted #9A5C23;
  width: 60%;
}

/*
 .findSize {
     border: 1px solid red;
     width: 390px;
     max-height: 844px;
     overflow: auto;
 }
*/
.spinner-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.spinner-container > div {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, #009fff, #ec2f4b);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/*
spinner1 
*/
#spinner1 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

#spinner1::before {
  content: "";
  width: 85px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid black;
  border-top: 15px solid transparent;
}

#spinner1::after {
  content: "";
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px black;
}

/*
spinner2 
*/
#spinner2 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

#spinner2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 80%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px black;
}

/*
spinner3 
*/
#spinner3 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

#spinner3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  animation: shadow 2s linear infinite;
}

@keyframes shadow {
  0% {
    box-shadow: inset 0 0 15px 15px black, 0 0 25px 25px black;
  }
  50% {
    box-shadow: inset 0 0 25px 25px black;
  }
  100% {
    box-shadow: inset 0 0 15px 15px black, 0 0 25px 25px black;
  }
}
/*
spinner4 
*/
#spinner4 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

#spinner4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: black;
}

/*
spinner5 
*/
#spinner5 {
  position: relative;
  animation: deform 2s linear infinite;
}

@keyframes deform {
  0% {
    border-radius: 0%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    border-radius: 100%;
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    border-radius: 0%;
    transform: rotate(360deg) scale(1);
  }
}
/*
spinner6 
*/
#spinner6 {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

#spinner6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 90px;
  height: 90px;
  z-index: 2;
}

#spinner6::after {
  content: "";
  background: linear-gradient(90deg, #009fff, #ec2f4b);
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(10px);
  animation: rotate 2s linear infinite;
}