.card{
    #listen-3{
        display: none;
    }
    #listen{
        display: none;
    }
    #listen-2{
        display: none;
    }
    #personNewLink{
        display: none;
    }
    #listen-4{
        display: none;
    }
    #listen5{
        display: none;
    }
    #physicalYogaLin{
        display: none;
    }
    #IdNumerology{
        display: none;
    }
    #listen-7{
        display: none;
    }
    #listen-8{
        display: none;
    }
    #listenMatch{
        display: none;
    }
}
