@import './../helper/animation';
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

#BioCards {
   width: 90%;
   margin-left: 5%;

   div{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      @media(max-width:600px) {
         grid-template-columns: 1fr;
      }
      article{
         box-shadow: 0 3px 7px -1px rgba(#000, .1);
         text-align: center;
         color: rgb(198, 193, 193);
         min-height: 450px;
         position: relative;
         @media(max-width:600px) {
            height: 500px;
         }
         
         &:nth-child(1){
            background-image: url('../../../assets/images/Astrology/Biorhythm/Biorhythm-cards.png');
         } 
         &:nth-child(2){
            background-image: url('../../../assets/images/Astrology/Biorhythm/Biorhythm-cards3.png');
         }
         &:nth-child(3){
            background-image: url('../../../assets/images/Astrology/Biorhythm/Biorhythm-card2.jpg');
         }
         h3{
            
            font-size: 24px;
         }
         .card-footer {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7); 
            width: 100%;
            p{

            }


          }
      }
     
   }
}