

.app {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 20px auto;
}

#results {
    margin-top: 30px;
}

#solarSystem {
    margin-top: 20px;
    position: relative;
}

canvas {
    border: 1px solid #fff;
}
