
/* Biorythm design */
.widthAds {
    width: 100%;
    height: 90px;
    border: 1px solid white;
    margin: 30px 0 30px 0;
}
.left-side {
    width: 80%;
}


#underMain {
    #PersonalBirth {
        #Nemuerology {
            padding: 0;
            margin: 0;
         }
    }
    

}
 #bioInside {
    padding: 0;
    margin: 0;
    @include desplayStyle(1fr 1fr);

    .myCaption{
        width: 80%;
        margin-left: 10%;
        h4{
            font-size: 30px;
        }
        p{
            display: none;
            font-size: 15px;
            color: black;
            animation: hiddenParaf 2s ease-in-out;
        }
    }
 }
 #PersonalBirth {
    background-color: $landingBackground;
    #displayNumber {
        padding: 0 0 30px 0;
        margin: 0;
       @include desplayStyle(1fr);
       #first-arrow{
        text-align: center;
        display: none;
        cursor: pointer;
        margin: -20px 0 10px 0;
    }
        #second-arrow{
            text-align: center;
            cursor: pointer;
            margin:  -20px 0 10px 0;
        }
       h5{
        text-align: center;
        &:hover {
            color: $ribonIcone;
        }
        a{
            font-size: 30px;
            text-align: center;
            color: $hgroup;
            margin: 0;
            padding: 0;
            @media(max-width:600px){
                font-size: 20px;
            }
        }
       }
       #hidden_p {
        display: none;
        animation: hiddenParaf 2s ease-in-out;
       }
       p{
        font-size: 15px;
        text-align: center;
        color: #333333cc;
        width: 90%;
        margin-left: 5%;
       }
        .myCaption {
            border: 1px solid $box-border;
            background-color: $newBox;
            width: 60%;
            margin-left: 20%;
            @media(max-width:600px) {
                width: 90%;
                margin-left: 5%;
            }
            h4{
                font-size: 21px;
                width: 60%;
                margin-left: 20%;
                @media(max-width:600px){
                    font-size: 20px;
                }
            }
            p{
                font-size: 1.2rem;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 90%;
                margin-left: 5%;
                margin-bottom: 30px;
               display: flex;
              
                label{
                    color: $ribonIcone;
                    margin: 0;
                }
                input{
                    border-radius: 21px;
                    border: 1px solid $line-loader;
                    height: 35px;
                    color: $body;
                    width: 100%;
                    margin: 0 auto;
                    @media(max-width:600px){
                        min-width: 60%;
                        max-width: 60%;
                    }
                }
                input[type=time] {
                    min-width: 80px;
                    max-width: 80px;
                    
                }
                #Gender{
                    border: 1px solid $line-loader;
                    border-radius: 30px;
                    width: 100px;
                    height: 35px;
                    color: $body;
                }
                #countries {
                    border: 1px solid $line-loader;
                    border-radius: 30px;
                    color: $body;
                    width: 42%;
                }
                #timezone{
                    border: none;
                    border-radius: 30px;
                    background-color: #33333300;
                    color: $body;
                    width: 33%;
                }
                button{
                    width: 160px;
                    margin: 0 auto;
                }
            }
         }
    }
 }


#underMain figure img {
width: 100%;
}
#underMain figcaption, #PersonalBirth figcaption, #Nemuerology figcaption {
    text-align: center;
}
#underMain figcaption p, #PersonalBirth figcaption p, #Nemuerology figcaption p {
    font-size: 1vw;
    color: $main-paraf;
}
#underMain h4 {
    margin-top: 30px;
    font-size: 2vw;
    cursor: pointer;
    color: $hgroup; 

}
#PersonalBirth h4, #Nemuerology h4 {
    margin-top: 30px;
    font-size: 1vw;
    cursor: pointer;
    color: $hgroup; 
}
.ButHoro:hover {
    background-color: $Butoon;
}
.ButHoro:hover .ti-arrow-right {
    color: red;
}

#displayBio {
    padding: 0;
    margin: 0;
    display: none;
    grid-template-columns: 1fr;
    .myCaption {
        border: 1px solid $box-border;
        background-color: $newBox;
        width: 60%;
        margin-left: 20%;
        @media(max-width:600px) {
            width: 90%;
            margin-left: 5%;
        }
        h4{
            font-size: 21px;
            width: 60%;
            margin-left: 20%;
            @media(max-width:600px){
                font-size: 20px;
            }
        }
        p{
            font-size: 1.2rem;
        }
        form{
            text-align: center;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 30px;
            @include desplayStyle(1fr 1fr);
           @media(max-width:600px){
            @include desplayStyle(1fr);
           }
            label{
                color: $ribonIcone;
                margin: 0;
            }
            input{
                border-radius: 21px;
                border: none;
                height: 25px;
                background-color: #928d8d61;
                color: $body;
                width: 100%;
                margin: 0 auto;
                @media(max-width:600px){
                    min-width: 60%;
                    max-width: 60%;
                    margin-left: 20%;
                }
            }
            input[type=time] {
                min-width: 80px;
                max-width: 80px;
                
            }
            #Gender{
                border: none;
                border-radius: 30px;
                width: 21%;
                background-color: #33333300;
                color: $main-paraf;
            }
            #countries {
                border: none;
                border-radius: 30px;
                background-color: #33333300;
                color: $main-paraf;
                width: 33%;
            }
            #timezone{
                border: none;
                border-radius: 30px;
                background-color: #33333300;
                color: $body;
                width: 33%;
            }
            button{
                width: 160px;
                margin: 0 auto;
            }
        }
     }
 }

 .newNumber{
    width: 90%;
    margin-left: 5%;
   
 }

 #Numero {
    padding: 0;
    margin: 0;
    display: none;
    grid-template-columns: 1fr;
 }

 #displayThird {
    padding: 0;
    margin: 0;
    display: none;
    grid-template-columns: 1fr;
 }
 #dispNum, #NumeroDip, #ascend {
    padding: 20px 0 30px 0;
    margin: 0;
    display: none;
    grid-template-columns: 1fr;
    border: 1px solid $box-border; 
    text-align: center;
    background-color: $body; 
    border-radius: 30px;
 }
 #dispNum h4, #NumeroDip h4, #ascend h4 {
    font-size: 2vw;
 }
 .numCaption {
    display: grid;
    grid-template-columns: 1fr;
    color: $main-paraf;
    h5{
        font-size:1.2rem;
        margin: 0;
        padding: 0;
    }
    h6{
        font-size: 1.1rem;
    }
    p{
        max-width: 60%;
        margin-left: 20%;
        font-size: 1.1rem;
    }
}
.letBeCaption {
    display: grid;
    grid-template-columns: 1fr;
    color: $main-paraf; 
    h5{
        font-size:1.2rem;
        margin: 0;
        padding: 0;
    }
    h6{
        font-size: 1.1rem;
    }
    p{
        max-width: 60%;
        margin-left: 20%;
        font-size: 1.1rem;
    }
}

.letBeCaption h3{
    color: $Butoon; 
}
#newForm select {
        width: 90px;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        background-color: #fff;
        color: #333333;
        appearance: none; 
        cursor: pointer;
        box-sizing: border-box;
}





.circleDay {
    color: red;
}
.citcleNight {
    color: $main-paraf;  
}
.newColor {
    color: $hgroup; 
}
.dividedInside {
    display: grid;
    grid-template-columns: 1fr;
}

.predeicted {
    max-width: 90%;
    margin-left: 5%;
}

#insidAscend {
    h5{
        font-size: 1.2rem;
        margin-top: 3px;
    }
}

.right-side {
    width: 24%;
    
}
#bioInside {
    display: grid;
    grid-template-columns: 1fr;
}

.myButton {
    background-color: $Butoon; 
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    margin-bottom: 30px;
    border: none;
}
.myButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 14px 0px rgba(232,215,127,1);
}

#firstChart, #secondChart, #newChart {
    background-color: $main-text; 
    margin: 3% 0 0 10%;
   width:100%;max-width:80%;
}

#finalData {
    background-color: $box-background;
    .figCaptureIn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: $main-paraf; 
        h5{
            font-size: 1.2rem;
            margin: 12px 0 12px 0;
        }
        @media (max-width:600px) {
            grid-template-columns: 1fr;
        }
    }
}

.newStyle { h5 {
    font-size: 1.2rem;
    margin: 9px 0 9px 0;
    }
    .dividedInside {
        h5{
            font-size: 1.2rem;
        }
    }
    .predeicted{
        h5{
            font-size: 1.2rem;
        }
    }
}
.newStyle {
    display: grid;
    grid-template-columns: 1fr;
    color: $main-paraf; 
}
#finalData h4 {
    text-align: center;
}

/* three under the main section */
.threeUnder {
    @include flexible(center);
    background-color: $newBox;
    border-radius: 30px;
}

.threeUnder img {
width: 100%;
}
.threeUnder div:nth-child(1) {
    width: 70%;
    border: 1px solid $box-border; 
    border-radius: 30px;
    background-image: url('../images/Astrology/Aquarius-new.png');
    background-size: cover;
}
.threeUnder div:nth-child(2) {
    width: 130%;
    a{
        text-decoration: none;
    }
}

.threeUnder h1 {
    color: $hgroup;
    font-size: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.threeUnder h4{
    color:$ribonIcone;
    padding: 0;
    margin: 0 0 6px 0;
}
.threeUnder p {
      
    text-align: left;
    max-width: 70%;
    padding: 0;
    margin: 0;
}

.inseideFigure {
   display: flex;
   flex-direction: row;
   background-color: $newBox;
   margin: 30px 0 0 0;
   padding: 0;
   cursor: pointer;
}
.inseideFigure h3 {
    color: $body;
}
.inseideFigure figcaption{
    margin-left: 10px;
}
.inseideFigure img{
width: 25%;
height: 25%;
}
.breakLine {
    border: none;
    border-top: 2px dotted $box-border; 
    margin: 20px 0;
}
.myImages {
    max-width: 30%;
    min-width: 30%;
    height: 120px;
    border: 1px solid $box-border; 
    border-radius: 30px;
   
    
  
}
#mi-1{
    background-image: url('../images/Astrology/Service/Biorythm.png');
    background-size: cover;
}
#mi-2{
    background-image: url('../images/Astrology/Service/Numerology.png');
    background-size: cover;
}
#mi-3{
    background-image: url('../images/Astrology/Service/Ascendant.png');
    background-size: cover;
}

// hr {
//     border: none;
//     border-top: 2px dotted $main-paraf; 
//     height: 0;
//     width: 50%;
//     margin-bottom: 60px;
//   }

  #displayNumber p, #Numero p, #figAscendant p {
    color: $main-text;
    padding: 10px 0 10px 0;
    margin: 30px 0 30px 0;
}
#displayNumber img, #Numero img, #figAscendant img{
    width: 20%;
    margin-left: 40%;
}

/* Ascendant start */
#Ascentandt {
    display: none;
}
.brLine{
    border: 1px dotted $ribonIcone;
    width: 50%;
    margin-bottom: 30px;
}

/* Mobile design */
@media (max-width: 600px) {
    .left-side {
        width: 100%;
    }
    #bioInside {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
     }


        #underMain figcaption p, #PersonalBirth p .figCaptureIn p, .newStyle p {
            font-size: 3vw;
            color: $main-paraf;
        }
        #underMain h4, #PersonalBirth h4 {
            margin-top: 30px;
            font-size: 4vw;
            color: $hgroup;
            
        }
        #firstChart, #secondChart, #newChart {
            margin: 6% 0 10% 0;
           width: 100%;
           max-width: 100%;
        }
        .figCaptureIn h5, .newStyle h5 {
            font-size: 2.5vw;
        }

        .threeUnder {
            width: 100%;
            @include desplayStyle(1fr);
            margin: 0;
            padding: 0;
            .rightSideImage{
                display: none;
            }

            div:nth-child(2) {
                
                width: 100%;
                h1{
                    text-align: center;
                }
                a{
                    text-decoration: none;
                }
                figcaption {
                    width: 70%;
                }
                .myImages {
                    width: 20%;
                    margin: 0;
                    right: 0;
                }
               
            }
        }
}

// Tablet design

@media only screen and (min-width: 600px) and (max-width: 1000px) {

}