@import "../helper/variable";
@import "../helper/mixin";
@import "../helper/animation";
@import "../helper/placeholder";

.AppFooter{
    display: none;
    @media(max-width:600px) {
        display: block;
     }
}

.desctipFooter{
    
 @media(max-width:600px) {
    display: none;
 }
}
#MainFooter{
    @include desplayStyle(1fr 1fr 1fr 1fr);
    background-color: $box-background;
    text-align: center;
    color: $main-paraf;
    padding-bottom: 21px;
    @media (max-width:600px) {
        @include desplayStyle(1fr);
    }
    .twins{
        @include desplayStyle(1fr 1fr);
    }
    .firstFoot {
        @media (max-width:600px) {
            display: none;
        }
        img:nth-child(1){
            width: 60%;
        }
        img:nth-child(n+2){
            width: 40px;
            cursor: pointer;
        }
    }
    .secondFoot {

        .break {
            @extend %BreakLine;
        }
        p{
            a{
                color: $main-paraf;
                text-decoration: none;
                &:hover{
                    color: $hoverText;
                }
            }
        }
    }
    .thirdFoot {
        @extend .secondFoot;
    }
    .forthFoot {
        @extend .secondFoot;
        form {
            input{
                margin: 9px 0 9px 0;
            }
            input[type=email] {
                width: 80%;
                height: 2rem;
                border-radius: 30px;
                border: none;
            }
            input[type=button] {
                @include Button(10px 30px 10px 30px);
            }
        }
    }
}


#Privecy {
    display: flex;
    justify-content: center;
    color: $main-paraf;
}

#downNav {
    background-color: $darkBox;
    display: none;

    @media (max-width:600px) {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: 70px;
        margin: 0;
    
    }
    .navIcons {
        @include flexible(space-between);
       width: 80%;
       margin-left: 10%;
       padding: 0;
        span{
            margin: 0;
            padding: 0;
            text-align: center;
            cursor: pointer;
            p{
                margin: 0;
                padding: 0; 
                color: $main-paraf;
                font-size: 2.5vw;
            }
        }
    }
}