#landingMain{
    background-color: $landingBackground;

    .firstSectionLand{
        width:80%;
        margin-left: 20%;
        padding-top: 6%;
        @include flexible(center);
        @media(max-width:600px){
            width: 100%;
            margin-left: 0;
            text-align: center;
        }
        .firstrDic{
            article{
                header{
                    h1{
                        color: $ribonIcone;
                    }
                    p{
                       color: $body;
                    }
                }

                .vertical {
                    @include flexible(center);
                    background-color: $landingBox;
                    border-radius: 21px;
                    position: absolute;
                    margin-left: 15%;
                    @media(max-width:600px) {
                        position: relative;
                        margin: 0;
                    }
                    span{
                        @include flexible(center);
                        padding-left: 10px;
                       
                        h3{
                            font-size: 24px;
                            color: $ribonIcone;
                        }
                    }
                    .vertical-line {
                        border-left: 2px dotted $box-border; 
                        height: 70px; 
                    }
                }
                ul {
                    list-style: disc;
                    margin-top: 35%;
                    @media(max-width:600px){
                        margin-top: 10%;
                        text-align: left;
                    }

                }
                button{
                    @include Button(10px 20px 10px 20px);
                    background-color: $ribonIcone;
                    margin-bottom: 6%;
                    &:hover > a{
                        color: $body;
                    }
                    a{
                        text-decoration: none;
                        color: $main-text;
                       
                    }
                }
            }
            
        }
        .secondrDiv{
            figure{
                img{
                    width: 60%;
                }
            }
            @media(max-width:600px) {
                display: none;
            }
        }
    }   
}
#musicSection{
    position: relative;
    width: 80%;
    height: 220px;
    margin: 6% 0 0 10%;
    background-color: $landingBox;
    border-radius: 30px;
    @media(max-width:600px) {
        width: 100%;
        margin: 0;
    }
    .mainMusic{
        position: absolute;
        background-color: $landingBackground;
        width: 80%;
        height: 160px;
        border: 1px solid black;
        @include flexible(0);
        margin: 30px 0 0 10%;
        @media(max-width:600px) {
            width: 90%;
            margin: 30px 0 0 5%;
        }
        img{
            width: 30%;
        }
        .audio {
            margin-left: 30px;
            h1{
                font-size: 1.5vw;
                @media(max-width:600px) {
                    font-size: 3vw;
                }
            }
            audio{
                margin-left: -30px;
            }
        }
    }
}

#videos {
    width: 96%;
    margin: 6% 0 0 2%;
    padding: 20px 0 60px 0;
    position: relative;
    @media(max-width:600px) {
         width: 100%;
        margin: 0; 
    }
    .video-background{
        width: 100%;
    }
    .insideVideos {
        position: absolute;
        top: 2%;
        @include flexible(none);
        @media(max-width:600px) {
            @include desplayStyle(1fr);
            position: relative;
            margin-top: -25%;
        }
        .rightVideo{
            @media(max-width:600px) {
                display: none;
            }
           img{
            width: 70%;
            height: 320px;
            opacity: 0.6;
            margin: 15% 0 0 15%;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
            @media(max-width:600px) {
                margin: 0;
            }
           }
        }

        .fourVideos {
            text-align: center;
            h1{
                color: $ribonIcone;
            }
            p{
                a{
                    color: $main-text;
                    text-decoration: none;
                    &:hover{
                        color: $buttum-hover;
                    }
                }
            }
            .fourFigure{
                width: 100%;
                min-height: 270px;
                cursor: pointer;
                h4{
                    color: $ribonIcone;
                }
               @extend %borderBox;
               text-align: center;
               background-image: url('../../../assets/images/Astrology/Aquarius-new.png');
               background-size: cover;
               @media(max-width:600px) {
                width: 100%;
                margin: 0;
               }
               img{
                width: 100%;
                max-height: 200px;
                
               }
               figcaption{
                margin-top: 100%;
              
                .views{
                    color: $main-text;
                    bottom: 0;
                   }
               }
            }
            .captionVideos{
                @include desplayStyle(1fr 1fr);
                gap: 1rem;
            }
        }
    }
}

#Sprituality {
    background-color: $landingBox;
    width: 96%;
    margin-left: 2%;
    @media (max-width:600px){
        width: 100%;
        margin-left: 0;
    }
    .MainSpritual {
        width: 80%;
        margin-left: 15%;
        @include flexible(none);
        @media (max-width:600px){
            width: 100%;
            margin-left: 0;
            text-align: center;
        }
        .rightSpirit{
            width: 100%;
            h3{
                color: $ribonIcone;
            }
            ul{
                @media (max-width:600px){
                   padding: 0;
                   margin-top: 10%;
                }
                li{
                    list-style: none;
                    margin-top: 15px;
                    a{
                        color: $body;
                        text-decoration: none;
                        &:hover{
                            color: $ribonIcone;
                        }
                    }
                }
                .spiritLine{
                    border: 1px dotted $ribonIcone;
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
        .leftSpritual{
            width: 100%;
            @media (max-width:600px){
                display: none;
            }
            .insideImage{
                background-image: url('../../../assets/images/Astrology/Aquarius-new.png');
                background-size: cover; 
                width: 60%;
                height: 400px;
                @extend %borderBox;
            }
        }
    }  
}


/*
 .findSize {
     border: 1px solid red;
     width: 390px;
     max-height: 844px;
     overflow: auto;
 }
*/
     