
   
#searchPage {
    display: none;
    width: 60%;
    margin-left: 20%;
    height: 40rem;
    @media(max-width:600px){
        width: 90%;
        margin-left: 5%;
    }
    h3{
        color: $darkBox;
        text-align: center;
    }
    p{
        color: $darkBox;
    }
    .search-container{
        input{
            width: 100%;
            border-radius: 6px;
            height: 1.7rem;
            background-color: $box-background;
            border: none;
            color: $main-paraf;
        }
        #results{
            color: $main-paraf;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    margin: 3px 0 2px 0;
                    a{
                        color: $darkBox;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover{
                            color: $hgroup;
                        }
                    }
                }
                .WidthHr{
                    min-width: 100%;
                    border: 1px dotted $Butoon;
                }
            }
        }
    }
}
